table {
   
    border-radius: 5px;
    border-style: solid;
    border-color: #0075c9; 
    border-width: 0.1vw;
    min-width: 400px;
    font-family: Helvetica, Arial;
    background-color: #F2F2F2;
    
}

table td {
    padding: 6px;
    /*text-align: center;*/
    background-color: #F2F2F2;
}

/*2018/01/23 Aitziber*/
.newRow td {
    background-color: #e8e8e8;
}

/*2021/05/20 Aitziber*/
.selectedRow td {
    background-color: #8ddaff;
}


/*2021/05/20 Aitziber*/
.selectedRowDet td {
    background-color: #8ddaff;
}

/*Primera fila, primera celda*/

table tr:first-child td:first-child {
    border-radius: 5px 0px 0px 0px;
}


/*Primera fila, última celda*/

table tr:first-child td:last-child {
    border-radius: 0px 5px 0px 0px;
}


/*Última fila, primera celda*/

table tr:last-child td:first-child {
    border-radius: 0px 0px 0px 5px;
}


/*Última fila, última celda*/

table tr:last-child td:last-child {
    border-radius: 0px 0px 5px 0px;
}


/*Primera fila*/

table.header tr:first-child {
    font-weight: bold;
    color: #fff;
    background-color: #444;
    border-bottom: 1px #000 solid;
}


/*Todas las filas a partir de la segunda*/

table.header tr:nth-child(n+2) {
    text-align: right;
}

tr.cabecera {
    background-color: #0075c9;
    color: #fff;
    text-rendering: optimizeLegibility;
}

table.cabe2 {
    border-radius: 5px;
    border-collapse: collapse;
    font-family: Agenda-Light, sans-serif;
    font-weight: 100;
}

.button {
    background-color: #e1e1e1;
    border-style: solid;
    border-color: #0075c9;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    left: 100px;
    top: -10px;
}

.button:hover {
    background-color: #e5f1fb;
    border-width:1px;
}

.button:active {
    background-color: #e5f1fb;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

table td:focus {
    background: #FFFFFF;
    border-color: #00ace6;
    /*border: 2px;*/
}

.informe {
    border: 0px black solid;
    border-radius: 5px;
    min-width: 400px;
    font-family: Helvetica, Arial;
    background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary.focus,
.btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.btn-primary.active.focus,
.btn-primary.active:focus,
.btn-primary.active:hover,
.btn-primary:active.focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary.focus,
.open > .dropdown-toggle.btn-primary:focus,
.open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}

.btn-primary.active,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}

.btn-primary.disabled.focus,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled].focus,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
    background-color: #337ab7;
    border-color: #2e6da4;
}

.btn-primary .badge {
    color: #337ab7;
    background-color: #fff;
}

.label.important {
    background-color: #c43c35;
}

.label.warning {
    background-color: #f89406;
}

.label.success {
    background-color: #46a546;
}

.label.notice {
    background-color: #62cffc;
}

.alertas {
    background-color: transparent;
    border: none;
}

